.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 25px;
}

.project-card h2 {
  width: 65%;
  color: white;
  text-align: start;
}

.card-container {
  display: grid;
  grid-template-columns: auto;
  column-gap: 10px;
  row-gap: 15px;
  margin-top: 15px;
}

.a-card {
  display: flex;
  align-items: flex-end;
  width: 300px;
  height: 200px;
  position: relative;
  margin: 15px;
  overflow: hidden;
  border-radius: 20px;
}


.a-card:hover {
  transform: translateY(10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.699);
}

.a-card:hover:before {
  opacity: 1;
}

.a-card:hover .content-overlay {
  opacity: 1;
  transform: translateY(0px);
}

.a-card:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.7);
 z-index: 2;
 transition: 0.5s;
  opacity: 0;
}

.a-card .content-overlay {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
  padding: 15px;
}


.img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.content-overlay h3{
  font-weight: 800;
}

.content-overlay p {
  line-height: 1.1;
}

.content-overlay button {
  background-color: #E8AE68;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.content-overlay button:hover {
  background-color: #b18347;
}

@media screen and (min-width: 800px) {
  .card-container {
  grid-template-columns: auto auto;
}

.a-card {
  width: 350px;
}
}



@media screen and (min-width: 981px) and (max-width: 1950px) {
 .card-container {
  grid-template-columns: auto auto;
}

.a-card {
  width: 450px;
  height: 230px;
}
}